<componente-cabecera></componente-cabecera>


<table class="table table-bordered">
    <tbody>
      <tr>
        <th>Foto</th>
        <td class="text">
            <img src="./assets/selfie.jpg" alt="" width="200" height="200">
          </td>
      </tr>
      <tr>
        <th>Nombres</th>
        <td>Carlos Josué</td>
      </tr>
      <tr>
        <th>Apellidos</th>
        <td>Fariño Rosas</td>
      </tr>
      <tr>
        <th>Correo</th>
        <td>carlos.farinir@ug.edu.ec</td>
      </tr>
    </tbody>
  </table>   




  

<componente-pie></componente-pie>