<div id="login-container">

  <h1>LECCION 1P - LOGIN</h1>
    
  <form>
    <label for="cedula">Cédula/Código:</label><br>
    <input type="text" class="form-control form-control" id="cedula" name="cedula" required><br>

    <label for="clave">Clave:</label><br>
    <input type="password" class="form-control form-control" id="clave" name="clave" required><br><br> <br>
    
    <button routerLink="/vista2" class="btn btn-primary" id="ingreso"><i class="fas fa-user"></i> Ingresar</button>
    
  </form>

</div>
